.wrapper{
    position: relative;
    z-index: 0;
    width: 1200px;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.profileHeading h1{
    font-size: 2rem;
    color: #F98211;
}
.profileHeading h1 span{
    font-size: 2rem;
}
.profileHeading p{
    font-size: 1.3rem;
    color: #918F8E;
}
.profileImage{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}
.profileImage form{
    border: none;
}
.image{
    width: 330px;
    height: 280px;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.imageInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.imageInput input[type=text]{
    width: 100%;
    height: 30px;
    border-radius: 0;
}
